.input-container {
    width: 420px;
    height: 77px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.input {
    width: 100%;
    height: 42px;
    color: var(--color-1);
    border: 2px solid var(--color-4);
    border-radius: 50px;
    padding-inline-start: 14px;
    outline: transparent;
}