.header {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-6);
}
.header .container {
    height: 24px;
    padding-inline: 10px;
    background-color: var(--color-6);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title.logo {
    margin-inline-start: 8px;
    font-weight: var(--weight-regular);
}
.profile-container {
    display: flex;
    flex-direction: row;
}
.links-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 4px;
}

.header .avatar-container {
    display: flex;
    align-items: center;
    margin-inline: 20px 4px;
    gap: 8px;
}

.header .avatar {
    width: 20px;
    height: 20px;
    object-fit: cover;
    object-position: center;
    clip-path: var(--clipPath-circle);
}