/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  --color-1: #161616;
  --color-2: #595959;
  --color-3: #9C9C9C;
  --color-4: #DADADA;
  --color-5: #F4F4F4;
  --color-6: #FDFDFD;
  --color-accent: #22A0BC;

  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semiBold: 600;

  --fontSize-10: 10px;
  --fontSize-14: 14px;
  --fontSize-16: 16px;
  --fontSize-18: 18px;
  --fontSize-20: 20px;
  --fontSize-24: 24px;

  --fontFamily-Manrope: "Manrope", sans-serif;

  --clipPath-circle: circle(50%);
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
img,
time,
span,
input,
button,
text-area,
ion-icon {
	display: block;
}

a {
	color: inherit;
	text-decoration: none;
}

main {
	width: 100%;
}

input,
button,
textarea {
	background: none;
	border: none;
	font: inherit;
}

button {
	cursor: pointer;
}

ion-icon {
	pointer-events: none;
}

address {
	font-style: normal;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
	line-height: 1;
}

body,
html {
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	display: none;
}

/* Скрываем scrollbar для IE, Edge и Firefox */
body {
	-ms-overflow-style: none; /* IE и Edge */
	scrollbar-width: 0; /* Firefox */
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.icon {
  width: 24px;
  height: 24px;
}
.container {
  width: 1160px;
}
.title {
  font-size: var(--fontSize-24);
  font-family: var(--fontFamily-Manrope);
}

.headline {
  font-size: var(--fontSize-20);
  font-family: var(--fontFamily-Manrope);
}

.text-1 {
  font-size: var(--fontSize-18);
  font-family: var(--fontFamily-Manrope);
}

.text-2 {
  font-size: var(--fontSize-16);
  font-family: var(--fontFamily-Manrope);
}

.medium {
  font-weight: var(--weight-medium);
}
.semibold {
  font-weight: var(--weight-semiBold);
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

/*-----------------------------------*\
  #MEDIA
\*-----------------------------------*/
